* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.hidden {
  visibility: hidden;
}
.page {
  max-width: 295px;
  margin: 0 auto;
}
.loading-icon {
  text-align: center;
  font-size: 40px;
  padding: 5px 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: spin 2s linear infinite;
  background-color: black;
  background-image: linear-gradient(45deg, red, blue);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar {
  padding: 15px;
  border-bottom: 2px black solid;
}
.brand {
  font-weight: bold;
  text-align: center;
}
.word-rows {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.letter-box {
  border: 3px solid #ccc;
  height: 50px;
  width: 50px;
  text-transform: uppercase;
  margin: 5px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}
.letter-after-enter {
  color: white;
  background-color: #888;
}
.letter-match {
  color: white;
  background-color: darkgreen;
}
.letter-close {
  color: white;
  background-color: goldenrod;
}