* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hidden {
  visibility: hidden;
}
.page {
  max-width: 325px;
  margin: 0 auto;
}
.loading-icon {
  text-align: center;
  font-size: 40px;
  margin: 13px 0 0 0;
  height: 60px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: spin 1s linear infinite;
  background-color: black;
  background-image: linear-gradient(45deg, red, blue);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar {
  padding: 15px;
  border-bottom: 2px black solid;
}
.brand {
  font-weight: bold;
  text-align: center;
}
.word-rows {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 10px;
}
.letter-box {
  border: 3px solid #ccc;
  height: 55px;
  width: 55px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  padding: 0;
}
.letter-after-enter {
  color: white;
  background-color: #888;
}
.letter-match {
  color: white;
  background-color: darkgreen;
}
.letter-close {
  color: white;
  background-color: goldenrod;
}
.invalid {
  animation: invalid-flash 1s;
}
@keyframes invalid-flash {
  5% {
    border-color: crimson;
  }
  100% {
    border-color: #ccc;
  }
}